section.about
  .container
    .about__row
      .about__col
        .about__video
          .youtube#4n4sYqLDr4A
      .about__col
        h2.about__title О нас
        p.about__text <b>Emerald</b> (в переводе с англ.) – изумруд, драгоценный камень с множеством граней, он олицетворяет нашу деятельность, наш подход к каждому мероприятию. 
        p.about__text <b>Наша основная задача</b> - услышать пожелания клиента и воплотить в жизнь его мечту, какой бы смелой она ни казалась. При этом, мы абсолютно убеждены, что хороший праздник зависит не от количества вложенных в него денег, а от подхода и профессионализма команды, которая работает над проектом. 
        p.about__text <b>Команда Emerald</b> – это целый мир, который дарит мечты.
        .about__bottom
          a.btn.btn--inst(href="https://www.instagram.com/explore/tags/моймирмойemerald/") МойМирМойEmerald