section.banner
  .container
    .banner__content
      h2.banner__title Наш 10 летний опыт организации свадебных торжеств Поможет Вам сэкономить до 15% от свадебного бюджета И около 3-х месяцев, самостоятельной подготовки.