section.feedback#feedback
  .container
    h2.feedback__title Отзывы
    .feedback__slider      
      .feedback__row
              
        .feedback__col
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/vladimir-natalya.jpg" width="140" alt="Наталья, Владимир")
              p Наталья, Владимир
              span 7 мая 2016
            p.feedback__text 
              i "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы!
                b
                  i Вы очень тёплые, позитивные, мастера своего дела! 
                | К сожалению, не удалось сказать слова благодарности на свадьбе, при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём). Процветания вам, только положительных эмоций, не капризных молодожёнов))"
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/atem-anna.jpg" width="140" alt="Наталья, Владимир")
              p Артем, Анна
              span 24 июня 2016
            p.feedback__text 
              i В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась!
                b 
                  i Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была! 
                | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
        
        .feedback__col
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/artur-kristina.jpg" width="140" alt="artur-kristina.jpg")
              p Артур, Кристина
              span 14 мая 2016
            p.feedback__text 
              i В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась!
                b
                  i Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!
                | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/yura-tanya.jpg" width="140" alt="artur-kristina.jpg")
              p Юра, Таня
              span 2 июня 2016
            p.feedback__text 
              p 
                i
                  b Таня: "Это было незабываемо!!!<br>
                  |Спасибо вам огромное!!!!!!!"
              p 
                i 
                  b Юра:
                  | "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!<br>
                  b А не официально, просто бомба!"
        .feedback__col
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/vladimir-natalya.jpg" width="140" alt="Наталья, Владимир")
              p Наталья, Владимир
              span 7 мая 2016
            p.feedback__text 
              i "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы!
                b
                  i Вы очень тёплые, позитивные, мастера своего дела! 
                | К сожалению, не удалось сказать слова благодарности на свадьбе, при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём). Процветания вам, только положительных эмоций, не капризных молодожёнов))"
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/atem-anna.jpg" width="140" alt="Наталья, Владимир")
              p Артем, Анна
              span 24 июня 2016
            p.feedback__text 
              i В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась!
                b 
                  i Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была! 
                | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
        
        .feedback__col
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/artur-kristina.jpg" width="140" alt="artur-kristina.jpg")
              p Артур, Кристина
              span 14 мая 2016
            p.feedback__text 
              i В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной. Но! Я глубоко ошибалась!
                b
                  i Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!
                | Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни. И всё благодаря прекрасным организаторам Наталье и Алисе."
          .feedback__item
            .feedback__author
              .feedback__img
                img(src="img/feedback/yura-tanya.jpg" width="140" alt="artur-kristina.jpg")
              p Юра, Таня
              span 2 июня 2016
            p.feedback__text 
              p 
                i
                  b Таня: "Это было незабываемо!!!<br>
                  |Спасибо вам огромное!!!!!!!"
              p 
                i 
                  b Юра:
                  | "Я добавлю, пусть это прозвучит более официально, но коротко, профессионалы и люди любящие своё дело!<br>
                  b А не официально, просто бомба!"

