section.other#other
  .container    
    h2.other__title Наши не свадебные проекты:
    p.other__descr Также, мы организуем такие мероприятия, как:
    .other__row
      .other__item
        img(src="img/other-services/corpotate.jpg", alt="Коропоративы")
        p Корпоративы
      .other__item
        img(src="img/other-services/birthdays.jpg", alt="")
        p Дни рождения, Юбилеи
      .other__item
        img(src="img/other-services/anniversary.jpg", alt="")
        p Выпускные вечера, Детски праздники
    p.other__more Узнать подробнее можете по телефону 
        a.other__more-phone(href="tel:+74951955722") +7 (495) 195-57-22
        |  или заполните форму на следующем экране:
        a(href="#secrets" rel="m_PageScroll2id").other__scroll
          +icon("scroll", 32, 52)