header.page-header#main
  .container
    .page-header__row
      .page-header__left
        nav.main-nav
          a.main-nav__toggle              
            span Меню
          ul.main-nav__list
            li.main-nav__item
              a._mPS2id-h(href="#main" rel="m_PageScroll2id") Главная
            li.main-nav__item
              a(href="#services" rel="m_PageScroll2id") Услуги
            li.main-nav__item
              a(href="#portfolio" rel="m_PageScroll2id") Портфолио
            li.main-nav__item
              a(href="#price" rel="m_PageScroll2id") Стоимость
            li.main-nav__item
              a(href="#team" rel="m_PageScroll2id") Наша команда
            li.main-nav__item
              a(href="#partner" rel="m_PageScroll2id") Площадка-партнер
            li.main-nav__item
              a(href="#feedback" rel="m_PageScroll2id") Отзывы
            li.main-nav__item
              a(href="#other" rel="m_PageScroll2id") Не свадебные проекты
            li.main-nav__item
              a(href="#contacts" rel="m_PageScroll2id") Контакты      
        .page-header__description
          p 
            b Группа компаний Emerald
          p Организация свадебных торжеств

      a.logo.logo--header(href="/")
        img(src="img/logo.png", srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" width="140" alt="Emerald")

      .page-header__right      
        .page-header__callback
          a.btn.btn--callback(href="#modal") Заказать звонок
        .page-header__phones        
          .page-header__phones-wrap
            a(href="tel:+74951955722") +7 (495) 195-57-22
            a(href="tel:+79853941057") +7 (495) 394-10-57
      
        
    