footer.page-footer#contacts
  .page-footer__content
    .page-footer__logo    
      .page-footer__logo-img    
        img(src="img/logo.png", srcset="img/logo@2x.png 2x, img/logo@3x.png 3x" width="100" alt="Emerald")
      .page-footer__logo-descr 
        b Группа компаний Emerald
        p Организация свадебных торжеств      
    .page-footer__contacts
       a.page-footer__phone(href="tel:+74951955722" title="+7 (495) 195-57-22") +7 (495) 195-57-22
       a.page-footer__phone.page-footer__phone--mobile(href="tel:+79161724569" title="+7 (916) 172-45-69") +7 (916) 172-45-69
       a.page-footer__phone.page-footer__phone--mobile(href="tel:+79853941057" title="+7 (985) 394-10-57") +7 (985) 394-10-57
    .page-footer__social
      a(href="www.vk.com" title="Vkontakte").social__btn
        +icon("vk", 50)
      a(href="www.instagram.com" title="Instagram").social__btn
        +icon("inst", 50)
      a(href="www.facebook.com" title="Facebook").social__btn
        +icon("fb", 50)
      a(href="www.whatsapp.com" title="Whatsapp").social__btn
        +icon("whatsapp", 50)
      a(href="www.youtube.com" title="Youtube").social__btn
        +icon("youtube", 50)
  .page-footer__copyright &copy; 2017 Все права защищены&nbsp;
    a(href="#") Политика конфиденциальности
.modal#modal
  .modal-content
    button(type="button").modal-close
    .secrets__form
      form.form-secrets
        legeng.form-secrets__text Консультация свадебного специалиста с опыттом организации 
          b более 200 свадеб!
        .form-secrets__input-wrap
          i.form-secrets__icon &#xe802;
          input(type="text" name="name" placeholder="Ваше имя")
        .form-secrets__input-wrap
          i.form-secrets__icon &#xe801;
          input(type="tel" name="phone" placeholder="Номер телефона")
        input(type="submit" value="Получить консультацию")
      .form-secrets__success.form-secrets__success-show
        img(src="img/byke.jpg", alt="")
        p 
          b Ваша заявка принята
        p В ближайшее время мы с Вами свяжемся.

