footer.page-footer
  .container
    .page-footer__col

    .page-footer__col

    .page-footer__col
      .social
        a(href="www.vk.com" title="Vkontakte").social__btn
          +icon("vk", 50)
        a(href="www.instagram.com" title="Instagram").social__btn
          +icon("inst", 50)
        a(href="www.facebook.com" title="Facebook").social__btn
          +icon("fb", 50)
        a(href="www.whatsapp.com" title="Whatsapp").social__btn
          +icon("whatsapp", 50)
        a(href="www.youtube.com" title="Youtube").social__btn
          +icon("youtube", 50)
        .test