section.partner
  +icon("vk", 100)
  +icon("inst", 100)
  +icon("fb", 100)
  +icon("whatsapp", 100)
  +icon("youtube", 100)  
  +icon("menu", 100)
  +icon("phone", 100)
  +icon("mobile-phone", 100)
  +icon("search", 100)