section.portfolio#portfolio
  .container
    h2.portfolio__title Портфолио
    .portfolio__box      
      a.portfolio__item.portfolio__item--wide(href="" style="background-image: url('img/portfolio/portfolio-1.jpg');")
        .portfolio__item-descr
          span Свадьба Артура и Кристины
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-2.jpg');")
        .portfolio__item-descr
          span Свадьба Василия и Валерии
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-3.jpg');")
        .portfolio__item-descr
          span Свадьба Дениса и Анны
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-4.jpg');")
        .portfolio__item-descr
          span Свадьба Константина и Марины
      a.portfolio__item.portfolio__item--wide(style="background-image: url('img/portfolio/portfolio-5.jpg');")
        .portfolio__item-descr
          span Свадьба Максима и Ольги
      a.portfolio__item.portfolio__item--2xWeight(style="background-image: url('img/portfolio/portfolio-6.jpg');")
        .portfolio__item-descr
          span Свадьба Александра и Юлии
      a.portfolio__item.portfolio__item--wide(style="background-image: url('img/portfolio/portfolio-7.jpg');")
        .portfolio__item-descr
          span Свадьба Павла и Светланы
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-8.jpg');")
        .portfolio__item-descr
          span Свадьба Сергея и Анастасии
      a.portfolio__item.portfolio__item--wide(style="background-image: url('img/portfolio/portfolio-9.jpg');")
        .portfolio__item-descr
          span Свадьба Евгения и Анастасии
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-10.jpg');")
        .portfolio__item-descr
          span Свадьба Константина и Ирины
      a.portfolio__item(style="background-image: url('img/portfolio/portfolio-11.jpg');")
        .portfolio__item-descr
          span Свадьба Юрия и Татьяны
    .portfolio__footer
      p.portfolio__follow Следите за нами в инстраграмме:&nbsp;
        a.btn.btn--inst.btn--uppercase(href="https://www.instagram.com/my_world_my_emerald/") my_world_my_emerald