section.price
  .conatiner
    h2.price__title Стоимость
    .price__row
      .price__item
        h3.price__item-title Свадебный распорядитель
        .price__item-body
          p.price__item-text Ваш личный помощник, который решает все организационно-технический вопросы в день Вашего торжества:
          ul.price__item-list
            li – Встречает и провожает гостей            
            li – Общается с банкетной службой ресторана
            li – Следит за работой свадебного персонала (фото, видео, артисты, ведущий, декоратор)
            li – Отвечает за зону выездной регистрации
            li – Отвечает на все волнующие вопросы
        .price__item-bottom
          span.price__item-cost 17 000