section.price#price
  .container    
    .price__row

      .price__item
        h3.price__item-title Свадебный распорядитель
        .price__item-body
          p.price__item-text Ваш личный помощник, который решает все организационно-технический вопросы в день Вашего торжества:
          ul.price__item-list
            li – Встречает и провожает гостей            
            li – Общается с банкетной службой ресторана
            li – Следит за работой свадебного персонала 
              i (фото, видео, артисты, ведущий, декоратор)
            li – Отвечает за зону выездной регистрации
            li – Отвечает на все волнующие вопросы
        .price__item-bottom
          span.price__item-cost 17 000 &#8381;

      .price__item
        h3.price__item-title Организация<br>свадьбы
        .price__item-body
          p.price__item-text Полное сопровождение «предсвадебного путешествия» для того, чтобы подготовка доставила удовольствие:
          ul.price__item-list
            li – Уделим внимание всем деталям, поможем оптимизировать бюджет, порекомендуем надежных свадебных специалистов, наполним торжество Вашей душой. 
            li –В день свадьбы на площадке работают: 
              i свадебный распорядитель + координатор. 
          span Вы отдыхаете! 
        .price__item-bottom
          span.price__item-cost 37 000 &#8381;

      .price__item
        h3.price__item-title PREMIUM<br>Организация свадьбы
        .price__item-body
          p.price__item-text ВаЭто предложение идеально подходит для свадебных торжеств, если приглашённых гостей будет 
            b 100 и более человек.
          ul.price__item-list
            li – Если в расписании свадебного дня запланирована насыщенная программа с развлечениями и артистами. 
            li – С утра ВАС будет сопровождать координатор, который возьмет на себя хлопоты первой половины дня. 
            li –В день свадьбы на площадке работают: 
              i свадебный распорядитель+2 координатора.            
        .price__item-bottom
          span.price__item-cost 57 000 &#8381;
    .price__bottom
      .price__consult Подробная консультация по телефону: 
        a.price__phone(href="tel:+74951955722") +7 (495) 195-57-22 
        | или оставьте заявку:
      a.btn.btn--callback.btn--big(href="/") Оставить заявку