section.secrets
  .container 
    h2.secrets__title Мы за живое общение
    .secrets__row
      .secrets__col-left
        p.secrets__text При личной встрече мы, с удовольствием, расскажем с чего начать подготовку к свадебному торжеству, на что обратить особенное внимание и что не упустить из вида.
        p.secrets__text Такая консультация бесплатна. Также, вы можете оставить заявку, и мы проконсультируем Вас по телефону.
        p.secrets__text 
          b До связи!)
      .secrets__col-right
        div.secrets__form
          form.form-secrets
            legeng.form-secrets__text Консультация свадебного специалиста с опыттом организации 
              b более 200 свадеб!
            .form-secrets__input-wrap
              i.form-secrets__icon &#xe802;
              input(type="text" name="name" placeholder="Ваше имя")
            .form-secrets__input-wrap
              i.form-secrets__icon &#xe801;
              input(type="tel" name="phone" placeholder="Номер телефона")
            input(type="submit" value="Получить консультацию")
          .form-secrets__success.form-secrets__success-show
            img(src="img/byke.jpg", alt="")
            p 
              b Ваша заявка принята
            p В ближайшее время мы с Вами свяжемся.