section.services
  .container    
    h2.services__title Услуги
    .services__row.services__row--short
      .services__item.services__item--wide
        .services__img
          img(src="img/services/services-1.jpg", width="165" alt="Организация")
        .services__descr
          h3.services__subtitle Организация
          p У нас не было, нет и никогда не будет готовых предложений с набором опций. Свадьба – это маленькая жизнь со своей историей и душой.
      .services__item.services__item--wide
        .services__img
          img(src="img/services/services-2.jpg", width="165" alt="Ведущий")
        .services__descr
          h3.services__subtitle Ведущий
          p В нашей команде более 30 ведущих разделяющих наше видение на свадебное торжество.
    .services__row   
      .services__item.services__item--narrow
        .services__img
          img(src="img/services/services-3.jpg", width="165" alt="Фотограф")
        .services__descr
          h3.services__subtitle Фотограф/Видеооператор
          p В нашей медиа-команде более 20 специалистов, проверенных нами.
      .services__item.services__item--narrow
        .services__img
          img(src="img/services/services-4.jpg", width="165" alt="Декор")
        .services__descr
          h3.services__subtitle Декор
          p Команда декораторов нашей службы торжеств поможет Вам выбрать стиль и цветовое решение Вашей свадьбы.
      .services__item.services__item--narrow
        .services__img
          img(src="img/services/services-5.jpg", width="165" alt="Банкет")
        .services__descr
          h3.services__subtitle Банкет
          p Н аша банкетная служба удовлетворит любые вкусовые предпочтения даже самого изысканного гурмана.Загловок    
    .services__row.services__row--short
      .services__item.services__item--wide
        .services__img
          img(src="img/services/services-6.jpg", width="165" alt="Регистрация")
        .services__descr
          h3.services__subtitle Выездная регистрация
          p Выслушав Ваши пожелания, предпочтения и мечту – как должна пройти эта красивая история, мы поможем ее осуществить.
      .services__item.services__item--wide
        .services__img
          img(src="img/services/services-7.jpg", width="165" alt="Артисты")
        .services__descr
          h3.services__subtitle Артисты
          p  Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, поставить «вишенку на торт» в завершении вечера.