section.services
  .container
    h2.services__title Услуги    
    .services__item
      .services__item-img
        img(src="img/services/services-1.jpg", width="165" alt="")         
      .services__item-content
        h3 Организация
        p У нас не было, нет и никогда не будет готовых предложений с набором опций. Свадьба – это маленькая жизнь со своей историей и душой.
    .services__item
      .services__item-img
        img(src="img/services/services-2.jpg", width="165" alt="")
      .services__item-content
        h3 Ведущий
        p В нашей команде более 30 ведущих разделяющих наше видение на свадебное торжество.     
    .services__item
      .services__item-img
        img(src="img/services/services-3.jpg", width="165" alt="")
      .services__item-content
        h3 Фотограф/Видеооператор
        p В нашей медиа-команде более 20 специалистов, проверенных нами.
    .services__item
      .services__item-img
        img(src="img/services/services-4.jpg", width="165" alt="")
      .services__item-content
        h3 Декор
        p Команда декораторов нашей службы торжеств поможет Вам выбрать стиль и цветовое решение Вашей свадьбы.
    .services__item
      .services__item-img
        img(src="img/services/services-5.jpg", width="165" alt="")
      .services__item-content
        h3 Банкет
        p Н аша банкетная служба удовлетворит любые вкусовые предпочтения даже самого изысканного гурмана.Загловок    
    .services__item
      .services__item-img
        img(src="img/services/services-6.jpg", width="165" alt="")
      .services__item-content
        h3 Выездная регистрация
        p Выслушав Ваши пожелания, предпочтения и мечту – как должна пройти эта красивая история, мы поможем ее осуществить.
    .services__item.col-md-5
      .services__item-img
        img(src="img/services/services-7.jpg", width="165" alt="")
      .services__item-content
        h3 Артисты
        p  Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, поставить «вишенку на торт» в завершении вечера.