section.team#team
  .container
    h2.team__title Наша команда
    .team__founder
      .team__img.team__img--founder
        img(src="img/team/alysa.jpg" width="260" height="260" alt="Основатель")
      .team__founder-content
        p.team__name.team__name--founder Алиса Истомина
        p.team__duties.team__duties--founder Основатель Группы компаний Emerald 
        p.team__duties.team__duties--founder Генеральный директор Организатор, Ведущая
        blockquote 
          i «Наша миссия - нести в массы культуру мероприятий. Любое торжество - свадьба, корпоратив или день рождение - это не банкет с тамадой и набором артистов. Это гораздо глубже, больше. Это эмоции и ощущения, с которыми человек уходит домой, поэтому у каждого нашего праздника есть личная история и душа». 
    .team__list
      .team__item
        .team__img
          img(src="img/team/natalya-g.jpg", alt="")
        p.team__name Наталья Гудошникова
        p.team__duties Исполнительный директор Группы компаний Emerald
        p.team__duties Руководитель отдела организации
        p.team__duties Свадебный распорядитель
      .team__item 
        .team__img
          img(src="img/team/oksana-a.jpg", alt="")
        p.team__name Оксана Абросимова
        p.team__duties Организатор
        p.team__duties Свадебный распорядитель
        p.team__duties Координатор
      .team__item
        .team__img
          img(src="img/team/maria-e.jpg", alt="")
        p.team__name Мария Ершова
        p.team__duties Руководитель банкетной службы
      .team__item
        .team__img
          img(src="img/team/sergey-p.jpg", alt="")
        p.team__name Сергей Прудников
        p.team__duties Руководитель направления «Emerald media»
        p.team__duties Фотограф        
      .team__item
        .team__img
          img(src="img/team/elona-g.jpg", alt="")
        p.team__name Элона Губаз
        p.team__duties Руководитель направления «Декор от Emerald»
        p.team__duties Декоратор-флорист        
      .team__item
        .team__img
          img(src="img/team/artur-v.jpg", alt="")
        p.team__name Артур Васильев
        p.team__duties Режиссер-постановщик мероприятий
        p.team__duties Сценарист
        p.team__duties Ведущий 
      .team__item
        .team__img
          img(src="img/team/olga-m.jpg", alt="")
        p.team__name Ольга Меньшикова
        p.team__duties Руководитель направления «Emerald детям»
      .team__item
        .team__img
          img(src="img/team/ruslan-ch.jpg", alt="")
        p.team__name Руслан Чачанов
        p.team__duties Руководитель направления по разработке корпоративных программ и тимбилдингов. 
