.main-nav {
  float: left;
  position: relative;
  margin-right: 13%;
  @media @tablet {
    margin-right: 5%;
  }
  @media @phone {
    margin-right: 5px;
  }
  &--fixed {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 20;
    .main-nav__toggle {
      font-size: 0;
      padding-left: 0;
      &::after {
        background: @green;        
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
      }
      &::before {
        z-index: 5;
      }
    }
  }

  &__toggle {
    position: relative;
    display: block;
    padding: 15px 0 15px 66px;
    min-height: 50px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    @media @phone {
      font-size: 0;
      padding-left: 50px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 46px;
      height: 46px;
      left: 0;
      top: 0;
      border: 2px solid #fff;
      border-radius: 50%;
    }    
    &::before {
      position: absolute;
      content: "\f0c9";
      left: 12px;
      top: 8px;
      font-size: 30px;
      font-family: "Fontello";
      color: #fff;      
    }
  }

  &__list {
    display: none;
    position: absolute;
    left: 0;
    top: 72px;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    &--show {
      display: block;
    }
  }//list

  &__item {
    display: block;
    border-bottom: 1px solid @green;
    a {
      display: block;
      padding: 14px 15px 14px 20px;
      color: @green;
      text-decoration: none;
      @media @phone {        
      padding: 8px 15px 8px 20px;
      }
    }
    &:hover {
      background-color: @green;
      a {
        color: #fff;
      }
    }
  }//item
}