.page-footer {
  padding: 30px 0;
  background-color: #000;
  color: #898989;      
  &__row {

  }

  &__col {
    background: red;
  }

  &__copyright {
    font-size: 16px; 
    a {
      color: inherit;
    }
  }
}