.social {
  &__btn {
    position: relative;     
    display: inline-block;
    vertical-align: middle;
    transition: opacity 0.25s;
    text-decoration: none;
    &:hover,
    &:active {
     opacity: 0.8;
    }
  }//btn
  .test {
    width: 100px;
    height: 100px;
    background: red;
    background-image: url("../img/symbol-sprite.svg#icon-fb");
    background-size: auto;
  }
}